.container{
    margin-bottom: 60px;
}
.carousel{
    max-width:600px;
    margin: auto;
    border-radius: 35px;
    overflow: hidden;
    margin-top: 20px;
}

.carouselImage{
    width: 100%;
}

.wellcome{
    max-width:400px;
    text-align: center;
    margin-top: 10px;
}

.intro{
    font-size: 32px;
    margin-top: 10px;
    margin-bottom: 20px;
}