.card {
    width: 12rem;
    height: 14rem;
    border-radius: 20px;
    border: 1px black solid;
    margin: 30px 10px;
    box-shadow: 0 0 10px;
    overflow: hidden;
    padding-top: 5px;
    position: relative;
}

.describe{
    transition: all .5s linear;
    opacity: 0;
    position: absolute;
    top: 0;
    background-color: white;
    width: 12rem;
    height: 14rem;
    padding: 30px 10px;
}

.card:hover .describe{
    transition: all .5s linear;
    opacity: 1;
}

.card img {
    height: 9rem;
    width: auto;
    margin-bottom: 20px;
    margin-top: 13px;
}
