.navBar{
     margin-left: auto;
 }

.navItem{
    margin-right: 10px;
}

.navLink{
color: #6c757d;
}

.navLink:hover {
    color: #000000;
    text-decoration: none;

}

.navLink:focus{
    color: #000000;

}