@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

.btnGroup{
    padding: 0 20px !important;
    background-color: #690a13;
    border-radius: 5px;
    width: 100%;
}

.btnGroup button{
    background-color:#690a13!important;
}

button:hover{
    background-color: #580e16!important;
}

i {
    width: 25px;
    margin: 0 5px;
}